*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
    /* background-image: url('../images/developer.png');
    background-position: left; */
    /* height: 100vh; */
}
.container{
    max-width: 1140px;
    margin: 130px auto;
}
.section-title{
    color:  #181818;
    margin-bottom: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;  
}

.description{
    color:  #757575;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}

.title-span{
    color: #FD6E0A;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    margin-right: 50px;
    font-size: 20px;
    color: var(--dark-02, #474747);
}

.hire-btn{
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    margin-right: 250px;
    margin-left: 230px;
}

.banner-title{
    color: var(--dark-02, #474747);
    margin-bottom: 5px;
    font-size: 45px;
    font-weight: 600;
}

.banner-heading{
    color: var(--dark-01, #181818);
    margin-bottom: 20px;
    font-size: 85px;
    font-weight: 700;
}

.banner-details{
    color: var(--dark-03, #757575);
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
}

.btn-primary{
    padding: 20px 35px;
    /* margin: 0 15px; */
    margin-right: 30px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.banner > .banner-img{
    height: 670px;
    /* margin-right: 100px;
    margin-left: 250px; */
}

.about{
    border-radius: 10px;
    background: #FFF8F3;   
    padding: 130px; 
}

.about-info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-title{
    color: #757575;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.about-info-container h5{
    color: #474747;
}

.what-i-do-section-details{
    padding: 130px;
}

.skills{
    display: flex;
    justify-content: space-between;

}

.skill{
    width: 270px;
    height: 380px;
    padding: 30px 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-img{
    margin-bottom: 25px;
}

.skill-heading{
    color:  #181818;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.skill-details{
    color:  #757575;
    font-size: 16px;
    line-height: 28px;
}

.resume-container{
    display: flex;
    justify-content: space-between;
}

.resume-items{
    padding-right: 80px;
}

.resume-item{
    margin: 20px 0;
    padding-right: 70px;
}

.resume-heading{
    color: #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;
}


.item-heading{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.item-sub-heading{
    color:  #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.item-details{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.download-cv-btn{
    text-align: center;
    margin-top: 70px;
}


.footer{
    background: #FFF8F3;;
}

.footer > .container{
    margin-bottom: 0;
    padding-bottom: 0
}

.footer-section{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    gap: 100px;
}
.footer-title{
    text-align: left;
    margin-bottom: 20px;
}
.section-description{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.footer-column>a{
    padding-right: 20px;
    margin-right: 10px;
}

.footer-column input{
    padding: 15px 300px 15px 15px;
    display: block;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #757575;
}

.footer-column textarea{
    display: block;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 15px 300px 300px 15px;
    color: #757575;
}